<div class="container">
  <div class="banner-farm" style="background-image: linear-gradient(-45deg,
    rgba(204, 212, 217, 0.6) 0%,
    rgba(118, 173, 211, 0.3) 25%),
    url('<%= cl_image_path @farm.farm_photo %>');">
    <div class="banner-content">
      <h1><%=@farm.farm_name%></h1>

    </div><!--banner content-->
  </div><!--banner farm-->
</div><!--container-->

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <div class="welc-farm">
        <h3>A warm welcome from <%=@farm.farmers_name=%>.</h3>
      </div>
      <!--  <h3>  A warm welcome from <%=@farm.farmers_name=%>.</h3> -->
      <div class="farm-description" style="border-radius:20px;">
       <!--  <h3>A warm welcome from <%=@farm.farmers_name=%>.</h3> -->
        <p class="text-long"><%= @farm.description%></p>
        <i class="fas fa-home"></i> <%= @farm.location%>
        <i class="fas fa-at"></i> <%= @farm.farmer_email%>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <!-- <div class="farmer-picture"> -->
        <%= cl_image_tag @farm.avatar_photo, :class => "style_image rounded-corners" %>
      <!-- </div> -->
    </div>
  </div>

  <h3><%= "All our current ingredients" %></h3>

  <div class="card-container">
    <div class="row">
      <% @ingredients.each do |ingredient| %>
        <div class="col-xs-12 col-sm-6 col-md-3">

        <%= render 'shared/ingredient-card', ingredient: ingredient %>

        </div><!--col-->
      <% end %>

    </div><!--row-->


  </div><!--card-container-->


  <div class="container">
    <div class="row" style="margin-bottom: 15px;">
      <div class="col-xs-12 col-md-2 col-md-offset-5">
        <%= link_to "SEE ALL INGREDIENTS", ingredients_path, class: "btn btn-farm" %>
      </div>
    </div>
  </div>


  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
  ></div>

</div>




