<div class="headertext"><h3>Find Ingredients at your local Farmer</h3></div>

<!--new flexbox search-->
<div class="outerbox">

  <div class="searchbox">
    <%= form_tag ingredients_path, method: :get do %>
      <div class="form-inline form-space">
        <%= text_field_tag :query, params[:query], class: "form-control form-size", placeholder: "Find an ingredient" %>
        <label for="filter" > <!-- Filter on: --></label>
        <%= select_tag "filter", options_for_select([ "Filter on", "Rating", "Price" ], params[:filter]),  include_blank: false, class: "form-control font-small" %>
        <%= submit_tag "Search", class: "btn btn-farm-submit less-padding" %>
      </div><!--form inline-->
    <% end %>
    <%= form_tag ingredients_path, method: :get do %>
    <% end %>
  </div><!-- end searchbox-->
  <div class="cat-filters">
    <div class="ffilter">
        <a href="?utf8=✓&query=Fruit+%26+Vegetables&filter=Please+select&commit=Search">
        <%= image_tag("Fruits_veg.png", :alt => "Picture of fruits and vegetables") %>
        </a>
    </div>
    <div class="ffilter">
        <a href="?utf8=✓&query=Grains+%26+Legumes&filter=Please+select&commit=Search">
        <%= image_tag("grains.png", :alt => "Picture of whole grains and fibers") %>
        </a>
    </div>
    <div class="ffilter">
      <a href="?utf8=✓&query=Meat&filter=Please+select&commit=Search">
        <%= image_tag("Meat.png", :alt => "picture of dairy products") %>
      </a>
    </div>
    <div class="ffilter">
      <a href="?utf8=✓&query=Dairy+%26+Eggs&filter=Please+select&commit=Search">
        <%= image_tag("dairy_eggs.png", :alt => "picture of dairy products") %>
      </a>
    </div>

  </div>
</div><!--outerbox-->

<!-- END new flexbox search-->


<!--START SEARCH RESULT-->

<div class="container" >
    <div class="cards-container">
      <div class="row" >
        <% @ingredients.each do |ingredient| %>
          <div class="col-xs-12 col-sm-6 col-md-3" >
            <%= render 'shared/ingredient-card', ingredient: ingredient %>
          </div>
        <% end %>
      </div> <!--row-->
    </div> <!--cards-container-->
</div> <!--container-->

<!--MAP-->
<%# if @ingredients.empty? %>
<%# else %>
  <div id="map" style="width: 100%; height: 400px;" data-markers="<%= @markers.to_json %>"></div>
<%# end %>
