

<div class="header"> <h1>Welcome to ingredients index</h1></div>
<div class="container" style="background-color: white;">
<!-- .col-md-offset-2 col-xs-4 col-sm-4 col-md-4 col-lg-4 -->
  <div class="row filter">
      <div class=" .col-md-8 .col-md-offset-4"  >
        <%= simple_form_for @order do |o| %>

        <div class="form-inline">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find an ingredient"
            %>
          </div><!--form inline-->

        <%#= o.input :order_quantity, label: false, input_html: { text: "TO DO: Add filter code" } %>
        <% end %>
      </div>

      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
          <button class="btn btn-farm-submit" type="submit">Filter</button>
      </div> <!--class col-->
  </div>  <!-- row filter -->

  <div class="row ">
<!-- col-xs-3 col-sm-3 col-md-3 col-lg-3 -->

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 .col-md-offset-4 thin-padding" >
      <div class="category-card">
        <%= image_tag("Fruits_veg.png", :alt => "Picture of fruits and vegetables") %>
        <p>Fruits & Vegetables</p>
        <div class="middle">
          <div class="category-text">
            TO DO: Fruits & Vegetables button
          </div><!--cat text-->
        </div> <!--middle-->
      </div><!--category-card-->
    </div><!--col-->
  <!-- </div>row -->


    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 .col-md-offset-4 thin-padding" >
      <div class="category-card">
        <%= image_tag("grains.png", :alt => "Picture of whole grains and fibers") %>
        Grains & Legumes
        <div class="middle">
          <div class="category-text">
            TO DO: Grains & Legumes button
          </div><!--cat text-->
        </div> <!--middle-->
      </div><!--category-card-->
    </div><!--col-->
    <!-- </div> -->

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 .col-md-offset-4 thin-padding" >
      <div class="category-card">
        <%= image_tag("Meat.png", :alt => "picture of dairy products") %>
        Meat
        <div class="middle">
          <div class="category-text">
            TO DO: Meat button
          </div><!--cat text-->
        </div> <!--middle-->
      </div><!--category-card-->
    </div><!--col-->
   <!--  </div> -->

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 .col-md-offset-4 thin-padding" >
      <div class="category-card">
        <%= image_tag("dairy_eggs.png", :alt => "picture of dairy products") %>
        Dairy & Eggs
        <div class="middle">
          <div class="category-text">
            TO DO: Dairy & Eggs button
          </div><!--cat text-->
        </div> <!--middle-->
      </div><!--category-card-->
    </div><!--col-->

  </div><!--row-->
</div>

<!--END SEARCH WITH FILTERS-->

<!--START SEARCH RESULT-->

<div class="container" >
    <div class="cards-container">
      <div class="row" >
        <% @ingredients.each do |ingredient| %>
          <div class="col-xs-6 col-md-3" >
            <%= render 'shared/ingredient-card', ingredient: ingredient %>
          </div>
        <% end %>
      </div> <!--row-->
    </div> <!--cards-container-->
</div> <!--container-->


<!--MAP-->

<div id="map" style="width: 100%; height: 400px;" data-markers="<%= @markersto_json %>"></div>
