
<div class="container">
  <div class="header"> <h1>Welcome to ingredients index</h1>
  </div>

  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 thin-padding" >
      <div class="category-card">
        <%= cl_image_tag("Fruits_and_veg.jpg", :alt => "Picture of fruits and vegetables") %>
        <div class="middle">
          <div class="category-text">
            TO DO: Fruits button
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 thin-padding" >
      <div class="category-card">
        <%= cl_image_tag("Whole_Grain_Cracker_Whole_Grains_and_Fiber.jpg", :alt => "Picture of whole grains and fibers") %>
        <div class="middle">
          <div class="category-text">
            TO DO: Grains button
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 thin-padding" >
      <div class="category-card">
        <%= cl_image_tag("meat-products.jpg", :alt => "picture of a range of meats") %>
        <div class="middle">
          <div class="category-text">
            TO DO: Meat button
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 thin-padding" >
      <div class="category-card">
        <%= cl_image_tag("table-of-dairy-products.jpg", :alt => "picture of dairy products") %>
        <div class="middle">
          <div class="category-text">
            TO DO: Dairy button
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row filter">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" >
        <%= simple_form_for @order do |o| %>

<div class="form-inline">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an ingredient"
    %>
  </div>

        <%#= o.input :order_quantity, label: false, input_html: { text: "TO DO: Add filter code" } %>
        <% end %>
      </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >

            <button class="btn btn-farm-submit" type="submit">Filter</button>
    </div>
  </div>


    <div class="cards-container">
      <div class="row" >
        <% @ingredients.each do |ingredient| %>
          <div class="col-xs-6 col-md-3" >
            <%= render 'shared/ingredient-card', ingredient: ingredient %>
          </div>
        <% end %>

        <div id="map" style="width: 100%; height: 400px;" data-markers="<%= @markersto_json %>">
      </div>
    </div>
