<div class="container">
  <h1 class="centered-bold"> <%= @ingredient.name %> </h1>
  <div class="row">

    <div class="col-xs-12 col-sm-6">
      <div class="columns">
      <%= cl_image_tag @ingredient.photo , :class => "style_image"%>
        <div class="textbox">
          <h4>Description Ingredient</h4>
          Description: <%= @ingredient.description %>
        </div> <!-- textbox -->
      </div> <!-- columns -->
    </div> <!-- col-xs-12 -->

    <div class="col-xs-12 col-sm-6">
      <div class="columns">
        <div class="textbox">
          <i class="fas fa-map-marker-alt"> </i> <%= link_to @ingredient.farm.farm_name, farm_path(@ingredient.farm) %><br>
          Main category: <%= @ingredient.main_category %><br>
          Ingredient: <%= @ingredient.category %><br>
          Available quantity: <%= @ingredient.available_quantity %><br>
          Price: <%= humanized_money_with_symbol(@ingredient.price) %>/<%=@ingredient.price_type %>

          <p>Rating:
          <% @ingredient.rating.times do  %>
            <span class="glyphicon glyphicon-star"></span>
          <% end %>
          <% @ingredient.blank_stars.times do  %>
            <span class="glyphicon glyphicon-star-empty"></span>
          <% end %></p>


          <%= simple_form_for @order, :html => { :class => "form-inline"} do |order| %>
            <%= order.input  :order_quantity, label: false, include_blank: false,collection: (1..[@ingredient.available_quantity, 100].min)%>
            <%= order.input :ingredient_id, :as => :hidden, :input_html => { :value => @ingredient.id }  %>
            <%= order.input :price_paid, :as => :hidden, :input_html => { :value => @ingredient.price  }  %>
            <button type="submit" class="quantity_button">
              <i class="fas fa-plus"></i>
            </button>
          <% end %>


        </div> <!-- textbox -->

      </div> <!-- columns -->
      <%= cl_image_tag @farm.farm_photo, :class => "style_image" %>
    </div> <!-- col-xs-12 -->

  </div> <!-- row -->
</div> <!-- container -->

<div class="container">
    <div class="row" style="margin-bottom: 15px;">
      <div class="col-xs-12 col-md-2 col-md-offset-5">
        <%= link_to "SEE ALL INGREDIENTS", ingredients_path, class: "btn btn-farm" %>
      </div> <!-- col-xs-12 -->
    </div> <!-- row -->
  </div> <!-- container -->
