<h1>Welcome to the show page</h1>

<%= cl_image_tag @ingredient.photo, height: 300, width: 400, crop: :fill %>



<h1>Meet tasty <%= @ingredient.name %> </h1>
<h6>from farm: <%= @ingredient.farm.farm_name %></h6>

      <%= @ingredient.name %><br />
      <%= @ingredient.description %>
      <%= @ingredient.photo %>
      <p>Price: <%= humanized_money_with_symbol(@ingredient.price) %>
        <%= @ingredient.price_type %>
      </p>
      <%= @ingredient.main_category %>
      <%= @ingredient.category %><br />
      <%= @ingredient.available_quantity %><br />
      <br />
      <%= @ingredient.farm.farm_name %>

      <p> SKU: <%= @ingredient.sku %></p>

      <p>$$$</p>

