<h1>Welcome to the show page</h1>

<%= cl_image_tag @ingredient.photo, height: 300, width: 400, crop: :fill %>



<h1>Meet tasty <%= @ingredient.name %> </h1>
<h6>from farm: <%= @ingredient.farm.farm_name %></h6>

      <%= @ingredient.name %><br />
      <%= @ingredient.description %>
      <%= @ingredient.photo %>
      <%= @ingredient.price %><br />
      <%= @ingredient.main_category %>
      <%= @ingredient.category %><br />
      <%= @ingredient.available_quantity %>
      <%= @ingredient.price_type %><br />
      <%= @ingredient.farm.farm_name %>

<%= simple_form_for @order do |order| %>
  <%= order.input :order_quantity %>
  <%= order.input :ingredient_id, :as => :hidden, :input_html => { :value => @ingredient.id }  %>
  <%= order.input :price_paid, :as => :hidden, :input_html => { :value => @ingredient.price  }  %>
  <%= order.submit "add to basket", class: "btn btn-primary" %>
<% end %>

