<div id="pagecontentwrapper">
  <h1 class="centered-bold"> <%= @ingredient.name %> </h1>
  <div id="flexcontainer" class="flexMother rowParent">

    <div class="flexChild">
      <div class="topflex" id="left-top-corner" style="background-image: url( <%= cl_image_path @ingredient.photo %>);">

      </div> <!-- topflex left -->
        <div class="bottomflex-text">
        <div class="text-long" id="padding">
          <h3>Ingredient</h3>


          <%= @ingredient.description %>
        </div> <!-- padding -->
      </div> <!-- bottomflex-text -->
    </div> <!-- flexchild -->



    <div class="flexChild rowParent">
      <div class="flexChild columnParent">
        <div id="ingredients-description" class="flexChild">

          <div class="topflex" id="top-right-corner">
            <div id="padding">
              <i class="fas fa-map-marker-alt"> </i>
              <%= link_to @ingredient.farm.farm_name, farm_path(@ingredient.farm) %><br>
              Main category: <%= @ingredient.main_category %><br>
              Ingredient: <%= @ingredient.category %><br>
              Available quantity: <%= @ingredient.available_quantity %><br>
              Price: <%= humanized_money_with_symbol(@ingredient.price) %>/<%=@ingredient.price_type %>

              <p>Rating:
              <% @ingredient.rating.times do  %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
            <% @ingredient.blank_stars.times do  %>
              <span class="glyphicon glyphicon-star-empty"></span>
            <% end %></p>

            <%= simple_form_for @order, :html => { :class => "form-inline"} do |order| %>
              <%= order.input  :order_quantity, label: false, include_blank: false,collection: (1..[@ingredient.available_quantity, 100].min)%>
              <%= order.input :ingredient_id, :as => :hidden, :input_html => { :value => @ingredient.id }  %>
              <%= order.input :price_paid, :as => :hidden, :input_html => { :value => @ingredient.price  }  %>
              <button type="submit" class="quantity_button">
                <i class="fas fa-plus"></i>
              </button>
            <% end %>
            </div> <!-- text-long -->
          </div> <!-- topflex A-->

          <div class="bottomflex">
            <%= cl_image_tag @farm.farm_photo, :class => "style_image" %>
          </div> <!-- bottomflex -->

        </div> <!-- flexChild ingredients-description -->
      </div> <!-- flexChild columnParent -->
    </div> <!-- flexChild rowParent -->

  </div> <!-- flexmother rowparent -->
  <div class="center-button">
    <%= link_to "SEE ALL INGREDIENTS", ingredients_path, class: "btn btn-farm" %>
  </div>
</div> <!-- pagecontentwrapper -->
