<div class="container cover-page" id="content-to-remove">

  <!-- Order confirmation message  -->
  <% if params[:cart] %>
    <div class= "order-confirmation">
      <h1>Thank you for your order!</h1>
      <p>The ingredients you have ordered will be delivered to your restaurant
        <% if current_user.restaurant.name != nil %>
          ,<%=current_user.restaurant.name%>,
        <% end %>
      within 3 days.</p>
      <h3>Your order details are</h3>
      <p>Reference number: <%= @last_shopping_basket.id %></p>
      <p>Price paid: <%= humanized_money_with_symbol(@last_shopping_basket.total_price / 100) %></p>
    </div>
  <% end %>
  <!-- End of code for order confirmation message -->

  <!-- Header for the page except for the confirmation message display  -->
  <% unless params[:cart]  %>
    <div class="header-text">
      <h1>Your Order</h1>
    </div> <!-- header-text -->
  <% end %>

  <div class="row" id="white" >
    <% if @shopping_basket  %>
      <% @shopping_basket.orders.each do |order| %>
        <% ingredient = order.ingredient %>

        <div class="message-box">

          <div class="message-picture">
            <%= cl_image_tag ingredient.photo, :width=>100, :height=>100  %>
          </div> <!-- message-picture -->

          <%#= link_to "BACK TO FARM", farm_path(@farm), class: "btn btn-farm" %>

          <div class='product-body' id="content-to-hide">
            <p><i class="fas fa-map-marker-alt"></i> <%= link_to order.ingredient.farm.farm_name, farm_path(order.ingredient.farm) %>:
              <%= link_to order.ingredient.name, ingredient_path(order.ingredient)%></p>
          </div> <!-- product-body -->

          <div class="unit-info" data-edit_id="<%= order.id %>">
            <%= simple_form_for order do |order| %>
              <%= order.input :order_quantity, include_blank: false, include_hidden: false, collection: (1..[ingredient.available_quantity, 10].min)%>
              <%#= order.submit "update", class: "btn btn-primary" %>
              <button order.submit type="submit" class="quantity_button">
                <i class="fas fa-plus"></i>
              </button>
            <% end %> <!-- simple_form_for end -->
          </div> <!-- unit-info -->

          <div class="quantity">
            <p><%= order.order_quantity %>
            <%= ingredient.price_type %></p>
          </div> <!-- quantity -->

          <div class="total-price" id="content-to-hide">
            <p> € <%= order.amount * order.order_quantity %></p>
          </div> <!-- total-price -->

          <div class="edit-button-and-trash">
            <div class="list-inline edit_button" data-order_id="<%= order.id %>">
              <i class="far fa-edit" id="hover"> </i>
              <%= link_to order, method: :delete do %>
                <i class="far fa-trash-alt"> </i>
              <% end %> <!-- link to order end -->
            </div> <!-- edit button -->
          </div> <!-- edit-button-and-trash -->

        </div> <!-- message box -->
    <% end %> <!-- shopping_basket orders end -->
  </div> <!-- row -->

  <div class="row">
    <div class="total-amount">
      <div class="text-total-amount">
        <h1>Total amount: <span><%= humanized_money_with_symbol(@shopping_basket.total_price / 100) %></span></h1>
      </div> <!-- text-total-amount -->

    </div> <!-- total-amount -->
  </div> <!-- row -->

  <div class="row">
    <div class="card-payment">
      <%= form_tag shopping_basket_payments_path(@shopping_basket) do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="My Ingredient(s)"
          data-email="<%= current_user.email %>"
          data-description="Ingredient "
          data-amount="<%= @shopping_basket.total_price %>"
          data-currency="<%= @shopping_basket.orders.first.amount.currency %>">
        </script>
      <% end %> <!-- form_tag_shopping_basket end -->
    </div> <!-- card-payment -->
  </div> <!-- row -->

    <% end  %> <!-- if end -->

  <div class="row" id="center-items-in-row">
    <div class="back-button">
      <%= link_to "SEE ALL INGREDIENTS", ingredients_path, class: "btn btn-farm" %>
     </div> <!-- back-button -->
  </div> <!-- row -->

  <div class="row">
    <div class="response">
<!--       <p>TODO  display Previous Purchases.<p/>
      <p>All purchases have been paid.</p>
      <p>Your Shopping Basket is empty<p/> -->
    </div> <!-- response -->
  </div> <!-- row -->

</div> <!-- container -->



<!--
<div class="unit-price">
          <p><%#= humanized_money_with_symbol(ingredient.price) %>
          <%#= ingredient.price_type %></p>
        </div> -->
