<%= link_to "BACK TO INDEX", ingredients_path, class: "btn btn-farm" %>
<% if @ingredient %>
  <%= link_to "BACK TO INGREDIENT", ingredient_path(@ingredient), class: "btn btn-farm" %>
<% end %>
<div class="container">
  <%#= link_to "BACK TO FARM", farm_path(@farm), class: "btn btn-farm" %>
  <% if @shopping_basket  %>

    <% @shopping_basket.orders.each do |order| %>
      <%= order.ingredient.photo %>
      <p>  <%= link_to order.ingredient.name, ingredient_path(order.ingredient) %></p>
      <p>  <%= link_to order.ingredient.farm.farm_name, farm_path(order.ingredient.farm) %></p>
      <div id="lol">
        <%= simple_form_for order do |order| %>
          <%= order.input :order_quantity %>
          <%= order.submit "update", class: "btn btn-primary" %>
        <% end %>
      </div>
      <p>  <%= order.order_quantity %> units</p>
      <p>Price: <%= humanized_money_with_symbol(order.ingredient.price) %>
      <%= order.ingredient.price_type %></p>
      <%= order.ingredient.price %><br />
      <div id='editShoppingBasket'>
        <i class="far fa-edit"> </i>
      </div>
      <%= link_to order, method: :delete do %>
        <i class="far fa-trash-alt"> </i>
      <% end %>
      <hr>
    <% end %>

    <h1>Total amount:</h1>
    <%= form_tag shopping_basket_payments_path(@shopping_basket) do %>
      <article>
        <label class="amount">
          <span>Amount: <%= humanized_money_with_symbol(@shopping_basket.total_price / 100) %></span>
        </label>
      </article>


      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="My Ingredient(s)"
        data-email="<%= current_user.email %>"
        data-description="Ingredient "
        data-amount="<%= @shopping_basket.total_price %>"
        data-currency="<%= @shopping_basket.orders.first.amount.currency %>">
      </script>

    <% end %>
    <% else  %>
    <p>TODO  display Previous Purchases.<br />
     All purchases have been paid.<br />
    Your Shopping Basket is empty<br />
    <%= link_to "Order New Ingredients", ingredients_path %>
    </p>
  <% end  %>
</div>
