<h1>Total amount:</h1>
<%= form_tag shopping_basket_payments_path(@cart) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@cart.total_price / 100) %></span>
    </label>
  </article>


  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Ingredient(s)"
    data-email="<%= current_user.email %>"
    data-description="Ingredient "
    data-amount="<%= @cart.total_price %>"
    data-currency="<%= @cart.orders.first.amount.currency %>">
  </script>

<% end %>
