<div class="back-button">
  <%= link_to "BACK TO INDEX", ingredients_path, class: "btn btn-farm" %>
</div> <!-- back-button -->
  <div class="container">
    <div class="row" >

    <% if @shopping_basket  %>
    <% @shopping_basket.orders.each do |order| %>
    <% ingredient = order.ingredient %>
      <div class="message-box">
        <div class="message-picture">
          <%= cl_image_tag ingredient.photo, :width=>100, :height=>100  %>
        </div> <!-- message-picture -->

      <%#= link_to "BACK TO FARM", farm_path(@farm), class: "btn btn-farm" %>

        <div class='product-body'>
          <p><%= link_to order.ingredient.name, ingredient_path(order.ingredient) %></p>
          <p><%= link_to order.ingredient.farm.farm_name, farm_path(order.ingredient.farm) %></p>
        </div> <!-- product-body -->

        <div class="unit-info" data-edit_id="<%= order.id %>">

          <%= simple_form_for order do |order| %>
          <%= order.input :order_quantity, collection: (1..[  ingredient.available_quantity, 100].min)%>
          <%= order.submit "update", class: "btn btn-primary" %>
          <% end %>
        </div> <!-- unit-info -->

        <div class="quantity">
          <p><%= order.order_quantity %> units</p>
        </div> <!-- quantity -->

        <div class="total-price">
          <p> € <%= order.amount %></p>
        </div> <!-- total-price -->


          <div class="list-inline edit_button" data-order_id="<%= order.id %>">
            <i class="far fa-edit"> </i>
          </div> <!-- editshoppingbasket id -->
          <div class="list-inline trash">
          <%= link_to order, method: :delete do %>

          <i class="far fa-trash-alt"> </i>
          </div> <!-- trash -->
          <% end %>


      </div> <!-- message box -->

      <% end %>
    </div> <!-- row -->
  </div> <!-- container -->

  <div class="row"></div>
    <div class="total-amount"></div>
      <h1>Total amount:</h1>
      <%= form_tag shopping_basket_payments_path(@shopping_basket) do %>
      <article>
      <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@shopping_basket.total_price / 100) %></span>
      </label>
      </article>
    </div> total-amount
  </div> row


  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-name="My Ingredient(s)"
  data-email="<%= current_user.email %>"
  data-description="Ingredient "
  data-amount="<%= @shopping_basket.total_price %>"
  data-currency="<%= @shopping_basket.orders.first.amount.currency %>">
</script>

<% end %>
<%# else  %>
<p>TODO  display Previous Purchases.<p/>
  <p>All purchases have been paid.</p>
  <p>Your Shopping Basket is empty<p/>
    <%#= link_to "Order New Ingredients", ingredients_path %>
    <% end  %>
  </div>
</div>
</div>
<!--
<div class="unit-price">
          <p><%#= humanized_money_with_symbol(ingredient.price) %>
          <%#= ingredient.price_type %></p>
        </div> -->
